:root {
  --font-family: 'Poppins', sans-serif;
  --font-weight: 400;

  --font-size: 12px;
  --line-height: 1.33333;
  --letter-spacing: -0.02em;

  --white: #fff;
  --dark-grey-text: rgba(255, 255, 255, 0.5);
  --light-green: #bedbb0;
  --green: #9dc888;
  --light-violet: #7b7ede;
  --violet: #5255bc;

  --background: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* @media (min-width: 768px) {
  }

  @media (min-width: 1440px) {
  } */
}

@media (prefers-color-scheme: light) {
  /* :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  } */
}

@media (prefers-color-scheme: violet) {
  :root {
    /* --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px; */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--white);
}

h1,
h2 {
  font-family: var(--font-family);
  color: var(--white);
}

h1 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--white);
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
